@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .actives {
    @apply before:content-[''] before:absolute before:w-0 before:bottom-0 before:bg-blue-400 before:h-[2px] before:transition-all before:-skew-x-[45deg];
  }

  .border-bottom::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      rgb(255 255 255),
      rgba(142, 36, 170, 1) 10%,
      rgba(142, 36, 170, 1) 90%,
      rgb(255 255 255)
    );
  }

  .border-bottom-dark::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      rgb(15, 23, 42),
      rgba(142, 36, 170, 1) 10%,
      rgba(142, 36, 170, 1) 90%,
      rgb(15, 23, 42)
    );
  }

  .border-right::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      #1e40af 20%,
      #1e40af 80%,
      rgb(255, 255, 255)
    );
  }

  .border-right-dark::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgb(15, 23, 42),
      #1e40af 20%,
      #1e40af 80%,
      rgb(15, 23, 42)
    );
  }

  .sidebar {
    @apply before:content-[''] before:absolute before:w-0 before:-left-4 before:bg-gradient-to-br before:from-blue before:to-blue-950 before:to-90% before:z-[1] before:-skew-x-[30deg] before:h-full before:duration-300;
  }

  .list-default {
    @apply focus:bg-transparent active:bg-transparent hover:bg-transparent hover:text-slate-200 active:text-slate-200 focus:text-slate-400;
  }
}
